/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #355070;
  font-size: 1.3rem;
  padding: 2%;
}
.head h1 {
  width: 35%;
  color: #F7F7FF;
}
.head nav {
  width: 65%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 500px) {
  .head nav {
    justify-content: space-around;
    width: 45%;
  }
}
.head nav a {
  text-decoration: none;
  padding: 1.5% 3%;
}
.head nav a:visited {
  color: white;
}
.head #signup {
  border: 0.02rem solid black;
  background-color: #E0607E;
  border-radius: 6px;
}
.welcome-section {
  margin: auto;
  display: flex;
}
img {
  width: 100%;
}
body {
  background-color: #F7F7FF;
}
@media (min-width: 1020px) {
  body {
    margin: auto;
  }
}
body .welcome {
  font-size: 1.2rem;
  color: #352D39;
}
body .text-container {
  margin: 1%;
}
@media (min-width: 760px) {
  body .text-container {
    margin: 3%;
  }
}
@media (min-width: 1020px) {
  body .text-container {
    margin: 5%;
  }
}
body .feature-container {
  color: #F7F7FF;
}
@media (min-width: 760px) {
  body .feature-container {
    display: flex;
    margin: 3%;
  }
}
body .feature-container .end-feat {
  background-color: #355070;
  padding: 5%;
}
body .feature-container .mid-feat {
  background-color: #E0607E;
  padding: 5%;
}
@media (min-width: 760px) {
  body .feature-container .end-feat,
  body .feature-container .mid-feat {
    padding: 2.5%;
  }
}
body footer p {
  text-align: center;
  padding: 12%;
  background-color: #F2D0A4;
}
.team {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2%;
}
.team img {
  margin: ;
  width: 160px;
  border-radius: 50%;
}
.team p {
  text-align: center;
}
