/*I created this escaping for a screen size with break point of 500px*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Cormorant Garamond', serif;
}
* {
  box-sizing: border-box;
}
body {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
p {
  font-size: 1.8rem;
}
h2,
h3 {
  font-size: 1.8rem;
}
header {
  width: 100%;
  height: 90px;
  background-color: #3a506b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 70px 50px 90px;
}
@media (max-width: 500px) {
  header {
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px;
  }
}
@media (max-width: 800px) {
  header {
    padding-top: 40px;
  }
}
header h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  header h1 {
    margin: -10px 0 10px 0;
    font-size: 3.8rem;
  }
}
header .bottom {
  padding: 8px;
  width: 9%;
  height: 38px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  text-align: center;
}
@media (max-width: 500px) {
  header .bottom {
    width: 30%;
    margin-top: 15px;
  }
}
@media (max-width: 800px) {
  header .bottom {
    width: 30%;
    margin-top: 5px;
  }
}
@media (max-width: 1400px) {
  header .bottom {
    width: 20%;
  }
}
header .bottom a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
header .bottom a:hover {
  color: black;
}
header .bottom:hover {
  background-color: #004d4d;
}
main {
  margin: -7px 0 -7px 0;
  background-color: #0c5e50;
}
main .container {
  margin: 10px;
  padding: 60px;
}
main .container .top-container .text-content-main {
  padding-top: 20px;
}
main .container .top-container .text-content-main p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  main .container .top-container .text-content-main p {
    font-size: 2.1rem;
    width: 120%;
    margin-left: -30px;
  }
}
main .container .top-container .bottom {
  text-align: center;
  margin: 5px;
}
main .container .top-container .bottom a {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #641220;
}
main .container .top-container .bottom a:hover {
  color: #7e8287;
}
@media (max-width: 500px) {
  main .container .top-container .bottom a {
    font-size: 2.2rem;
  }
}
@media (max-width: 500px) {
  main .container .top-container {
    margin-top: -10px;
  }
}
main .container .title-middle-container h2 {
  font-size: 2.1rem;
  font-weight: bold;
  margin: 120px 0 80px 15px;
}
@media (max-width: 1400px) {
  main .container .title-middle-container h2 {
    margin-top: 80px;
    text-align: center;
  }
}
@media (max-width: 800px) {
  main .container .title-middle-container h2 {
    margin-top: 50px;
    font-size: 2.2rem;
    width: 100%;
  }
}
@media (max-width: 500px) {
  main .container .title-middle-container h2 {
    margin: 40px 0 40px -25px;
    text-align: center;
    font-size: 1.8rem;
    width: 120%;
  }
}
main .container .middle-container {
  width: 100%;
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: row-reverse;
}
main .container .middle-container .img-content {
  margin: 0 40px 0 100px;
}
main .container .middle-container .img-content img {
  width: 95%;
  height: 70%;
  border-radius: 5px;
}
main .container .middle-container .img-content img:hover {
  opacity: 80%;
}
@media (max-width: 1400px) {
  main .container .middle-container .img-content img {
    width: 115%;
    height: 70%;
    margin: 35px 10px 0 -40px;
  }
}
@media (max-width: 800px) {
  main .container .middle-container .img-content img {
    width: 115%;
    height: 50%;
    margin-left: -95px;
  }
}
@media (max-width: 500px) {
  main .container .middle-container .img-content img {
    width: 165%;
    height: 100%;
    margin-left: -114px;
  }
}
main .container .middle-container .text-content {
  width: 400%;
  margin-top: 8px;
}
main .container .middle-container .text-content h3 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  main .container .middle-container .text-content h3 {
    font-size: 2.4rem;
  }
}
@media (max-width: 500px) {
  main .container .middle-container .text-content h3 {
    font-size: 2.1rem;
    margin-top: 10px;
  }
}
main .container .middle-container .text-content p {
  font-size: 1.9rem;
  line-height: 23px;
  width: 100%;
}
@media (max-width: 800px) {
  main .container .middle-container .text-content p {
    font-size: 2.5rem;
    line-height: 30px;
  }
}
@media (max-width: 500px) {
  main .container .middle-container .text-content p {
    font-size: 2rem;
    line-height: 25px;
  }
}
@media (max-width: 1400px) {
  main .container .middle-container .text-content {
    width: 600%;
    margin: 0 20px 50px 20px;
  }
}
@media (max-width: 800px) {
  main .container .middle-container .text-content {
    width: 100%;
    margin: 30px 0 70px -20px;
  }
}
@media (max-width: 500px) {
  main .container .middle-container .text-content {
    width: 110%;
    margin: 20px 0 10px -25px;
  }
}
@media (max-width: 800px) {
  main .container .middle-container {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
}
@media (max-width: 500px) {
  main .container .middle-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0 30px 15px;
  }
}
main .container .last-container {
  width: 100%;
  margin: 0 20px 0 20px;
  display: flex;
}
main .container .last-container .img-content img {
  width: 70%;
  height: 80%;
  border-radius: 5px;
}
main .container .last-container .img-content img:hover {
  opacity: 80%;
}
@media (max-width: 1400px) {
  main .container .last-container .img-content img {
    width: 90%;
    height: 70%;
    margin: 40px 20px 50px 10px;
  }
}
@media (max-width: 800px) {
  main .container .last-container .img-content img {
    width: 90%;
    height: 50%;
    margin-left: 5px;
  }
}
@media (max-width: 500px) {
  main .container .last-container .img-content img {
    width: 100%;
    height: 100%;
    margin-left: -20px;
  }
}
main .container .last-container .text-content {
  width: 180%;
  margin: 20px 30px 0 -100px;
}
main .container .last-container .text-content h3 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  main .container .last-container .text-content h3 {
    font-size: 2.4rem;
  }
}
@media (max-width: 500px) {
  main .container .last-container .text-content h3 {
    font-size: 2.1rem;
  }
}
main .container .last-container .text-content p {
  font-size: 1.9rem;
  line-height: 23px;
  width: 95%;
}
@media (max-width: 800px) {
  main .container .last-container .text-content p {
    font-size: 2.5rem;
    line-height: 30px;
  }
}
@media (max-width: 500px) {
  main .container .last-container .text-content p {
    font-size: 2rem;
    line-height: 25px;
  }
}
@media (max-width: 1400px) {
  main .container .last-container .text-content {
    width: 300%;
    margin: 0 20px 50px 60px;
  }
}
@media (max-width: 800px) {
  main .container .last-container .text-content {
    width: 105%;
    margin: 30px 0 30px -20px;
  }
}
@media (max-width: 500px) {
  main .container .last-container .text-content {
    width: 115%;
    margin: -10px 0 30px -30px;
  }
}
@media (max-width: 800px) {
  main .container .last-container {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }
}
@media (max-width: 500px) {
  main .container .last-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 -20px 10px;
  }
}
footer {
  width: 100%;
  height: 120px;
  background-color: #3a506b;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px 20px 80px;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    heigth: 150px;
  }
}
@media (max-width: 800px) {
  footer {
    flex-direction: column;
    heigth: 150px;
  }
}
footer .footer-sentence h2 {
  font-weight: 2000;
  font-size: 2.1rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  footer .footer-sentence h2 {
    width: 100%;
    margin: -8px 0 15px -20px;
    font-size: 1.8rem;
    text-align: center;
  }
}
@media (max-width: 800px) {
  footer .footer-sentence h2 {
    width: 110%;
    margin-top: 10px;
  }
}
footer .about-us a {
  color: black;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: bold;
}
footer .about-us a:hover {
  color: white;
}
