.team{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;

    img{
        margin: ;
        width: 160px;
        border-radius: 50%;
    }

    p{
        text-align: center;
    }
}