.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @main-white;
    font-size: 1rem;
    padding: 2%;
    border-bottom: 1px solid rgb(223, 223, 223);

    h1{
        width: 30%;
        color: @nav-blue;
        }

    nav{
        width: 75%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 450px;


        @media @mobile{
            justify-content: space-around;
        }

        a{
            text-decoration: none;
            padding: 1.5% 3%;
        }
        a:visited{
            color: @nav-blue;
        }
    }

    #signup{
        border: 1px solid rgb(219, 219, 219);
        background-color: @sec-color;
        border-radius: 6px;
        color: @main-white;
    }
    
}