.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @head-color;
    font-size: 1.3rem;
    padding: 2%;

    h1{
        width: 35%;
        color: @nav-font-color;
        }

    nav{
        width: 65%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (min-width: 500px){
            justify-content: space-around;
            width: 45%
        }

        a{
            text-decoration: none;
            padding: 1.5% 3%;
        }
        a:visited{
            color: white;
        }
    }

    #signup{
        border: .02rem solid black;
        background-color: @signup;
        border-radius: 6px;
    }
    
}