@font-signup: #641220;
@font-login: white;
@font-about: black;
@font-bold: bold;
@font-top-size: 2.5rem;
@font-paragraph-size: 1.9rem;
@font-subtitle-size: 2.1rem;
@background-header-footer:  #3a506b;
@background-container: #0c5e50;



/*I created this escaping for a screen size with break point of 500px*/
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 800px)";