// Colors
@font-color: #352D39;
@main-white: #F7F7FF    ;
@nav-blue: #2164FF;
@sec-color: #E0607E;
@main-font-color: #383E41;
@footer-color: #F7F7FF;
//@hover-color: ;

// Media Query
@mobile: ~"(min-width: 550px)";
@tablet: ~'(min-width: 760px)';
@desktop: ~'(min-width: 1020px)';

// Fonts
@main-font: sans-serif;